// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as IceCreamClient from "../../../index.js";

export declare namespace MenuClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class MenuClient {
    protected readonly _options: NormalizedClientOptions<MenuClient.Options>;

    constructor(options: MenuClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Retrieve all menu items for a specific truck.
     * Optionally filter by maximum price.
     *
     * @param {IceCreamClient.GetTruckMenuTrucksTruckIdMenuGetRequest} request
     * @param {MenuClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IceCreamClient.UnprocessableEntityError}
     *
     * @example
     *     await client.menu.getTruckMenu({
     *         truck_id: "truck_id"
     *     })
     */
    public getTruckMenu(
        request: IceCreamClient.GetTruckMenuTrucksTruckIdMenuGetRequest,
        requestOptions?: MenuClient.RequestOptions,
    ): core.HttpResponsePromise<IceCreamClient.Menu> {
        return core.HttpResponsePromise.fromPromise(this.__getTruckMenu(request, requestOptions));
    }

    private async __getTruckMenu(
        request: IceCreamClient.GetTruckMenuTrucksTruckIdMenuGetRequest,
        requestOptions?: MenuClient.RequestOptions,
    ): Promise<core.WithRawResponse<IceCreamClient.Menu>> {
        const { truck_id: truckId, max_price: maxPrice } = request;
        const _queryParams: Record<string, unknown> = {
            max_price: maxPrice,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `trucks/${core.url.encodePathParam(truckId)}/menu`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IceCreamClient.Menu, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IceCreamClient.UnprocessableEntityError(
                        _response.error.body as IceCreamClient.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IceCreamClientError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/trucks/{truck_id}/menu");
    }

    /**
     * Browse every menu item across all trucks, with optional price and category filters.
     *
     * @param {IceCreamClient.ListMenuItemsMenuItemsGetRequest} request
     * @param {MenuClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IceCreamClient.UnprocessableEntityError}
     *
     * @example
     *     await client.menu.listMenuItems()
     */
    public listMenuItems(
        request: IceCreamClient.ListMenuItemsMenuItemsGetRequest = {},
        requestOptions?: MenuClient.RequestOptions,
    ): core.HttpResponsePromise<IceCreamClient.MenuItem[]> {
        return core.HttpResponsePromise.fromPromise(this.__listMenuItems(request, requestOptions));
    }

    private async __listMenuItems(
        request: IceCreamClient.ListMenuItemsMenuItemsGetRequest = {},
        requestOptions?: MenuClient.RequestOptions,
    ): Promise<core.WithRawResponse<IceCreamClient.MenuItem[]>> {
        const { min_price: minPrice, max_price: maxPrice, category } = request;
        const _queryParams: Record<string, unknown> = {
            min_price: minPrice,
            max_price: maxPrice,
            category,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "menu/items",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IceCreamClient.MenuItem[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IceCreamClient.UnprocessableEntityError(
                        _response.error.body as IceCreamClient.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IceCreamClientError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/menu/items");
    }
}
