// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as IceCreamClient from "../../../index.js";

export declare namespace SearchClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class SearchClient {
    protected readonly _options: NormalizedClientOptions<SearchClient.Options>;

    constructor(options: SearchClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Search for ice cream trucks near a given coordinate.
     *
     * Returns trucks sorted by distance, with optional filters for price range,
     * flavor availability, and open/closed status.
     *
     * @param {IceCreamClient.SearchNearbyTrucksSearchNearbyGetRequest} request
     * @param {SearchClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link IceCreamClient.UnprocessableEntityError}
     *
     * @example
     *     await client.search.searchNearby({
     *         latitude: 1.1,
     *         longitude: 1.1
     *     })
     */
    public searchNearby(
        request: IceCreamClient.SearchNearbyTrucksSearchNearbyGetRequest,
        requestOptions?: SearchClient.RequestOptions,
    ): core.HttpResponsePromise<IceCreamClient.SearchResults> {
        return core.HttpResponsePromise.fromPromise(this.__searchNearby(request, requestOptions));
    }

    private async __searchNearby(
        request: IceCreamClient.SearchNearbyTrucksSearchNearbyGetRequest,
        requestOptions?: SearchClient.RequestOptions,
    ): Promise<core.WithRawResponse<IceCreamClient.SearchResults>> {
        const {
            latitude,
            longitude,
            radius_miles: radiusMiles,
            min_price: minPrice,
            max_price: maxPrice,
            flavor,
            is_open: isOpen,
        } = request;
        const _queryParams: Record<string, unknown> = {
            latitude,
            longitude,
            radius_miles: radiusMiles,
            min_price: minPrice,
            max_price: maxPrice,
            flavor,
            is_open: isOpen,
        };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "trucks/search/nearby",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as IceCreamClient.SearchResults, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new IceCreamClient.UnprocessableEntityError(
                        _response.error.body as IceCreamClient.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.IceCreamClientError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/trucks/search/nearby");
    }
}
