// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as ScoopsOnWheels from "../../../index.js";

export declare namespace TrucksClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class TrucksClient {
    protected readonly _options: NormalizedClientOptions<TrucksClient.Options>;

    constructor(options: TrucksClient.Options) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Return a summary list of every truck in the fleet.
     *
     * @param {TrucksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.trucks.listTrucks()
     */
    public listTrucks(
        requestOptions?: TrucksClient.RequestOptions,
    ): core.HttpResponsePromise<ScoopsOnWheels.TruckSummary[]> {
        return core.HttpResponsePromise.fromPromise(this.__listTrucks(requestOptions));
    }

    private async __listTrucks(
        requestOptions?: TrucksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ScoopsOnWheels.TruckSummary[]>> {
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                "trucks",
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ScoopsOnWheels.TruckSummary[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.ScoopsOnWheelsError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/trucks");
    }

    /**
     * Return full details for a single truck by its ID.
     *
     * @param {ScoopsOnWheels.GetTruckTrucksTruckIdGetRequest} request
     * @param {TrucksClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link ScoopsOnWheels.UnprocessableEntityError}
     *
     * @example
     *     await client.trucks.getTruck({
     *         truck_id: "truck_id"
     *     })
     */
    public getTruck(
        request: ScoopsOnWheels.GetTruckTrucksTruckIdGetRequest,
        requestOptions?: TrucksClient.RequestOptions,
    ): core.HttpResponsePromise<ScoopsOnWheels.Truck> {
        return core.HttpResponsePromise.fromPromise(this.__getTruck(request, requestOptions));
    }

    private async __getTruck(
        request: ScoopsOnWheels.GetTruckTrucksTruckIdGetRequest,
        requestOptions?: TrucksClient.RequestOptions,
    ): Promise<core.WithRawResponse<ScoopsOnWheels.Truck>> {
        const { truck_id: truckId } = request;
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)),
                `trucks/${core.url.encodePathParam(truckId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as ScoopsOnWheels.Truck, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 422:
                    throw new ScoopsOnWheels.UnprocessableEntityError(
                        _response.error.body as ScoopsOnWheels.HttpValidationError,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.ScoopsOnWheelsError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/trucks/{truck_id}");
    }
}
